       
{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <p>
        must satisfy:<br>
        8 characters length or more<br>
        1 digit or more<br>
        1 symbol or more<br>
        1 uppercase letter or more<br>
        1 lowercase letter or more<br>
        </p>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
